<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Digidex App</mat-card-title>
        <mat-card-subtitle>Document Management System</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Welcome to Digidex!
        </p>
        <p>
            The app is developed by Alexander Zhidkov. Feel free to connect on
            <a href="https://www.linkedin.com/in/azhidkov">LinkedIn</a> or send me an <a href=""
                (click)="openEmail()">email</a>.
        </p>
    </mat-card-content>
</mat-card>